:root{
    --background: #0a080f;
}
h1{
    color: darksalmon;
}
h2{
    color: blueviolet;
}
@font-face {
    font-family: comicMono;
    src: url(ComicMono.ttf);
}

body{
    font-family: comicMono;
    background-color: var(--background);
    text-align: center;
    color: whitesmoke;
}
footer{
    text-align: left;
    position: fixed;
    left: 0;
    bottom: 0;
}

a{
    color: bisque;
}


#cat{
    width: 200px;
    border-radius: 50%;
    
}

#404{
    width: 20rem;
}
.tooltip {
    position: relative;
    display: none;
    border-bottom: 1px dotted darksalmon;
    cursor: pointer;
  }
  

.tooltiptext {
    display: inline-block; 
    width: 130px;
    background-color: whitesmoke;
    color:var(--background) ;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; 
}
  #cat:hover+ .tooltip{
    display: inline-block;
}
.Img_container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#collumns{
    display: flex;
    height: 100%;
}
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130rem;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 50%;
}
.catpic{
    display: block;
    width: 300px;
    border-radius: 20%;
    border:0.5rem solid whitesmoke ;
    margin: 2rem 2rem 2rem 2rem;
    transition-duration: 200ms;

}
.catpic:hover{
    width: 400px;
}
.aboutme{
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}
#title{
    padding-bottom: 2rem;
}