h1{
    color: darksalmon;
}
@font-face {
    font-family: comicMono;
    src: url(ComicMono.ttf);
}

body{
    font-family: comicMono;
    background-color: #0a080f;
    text-align: center;
    color: whitesmoke;
}
#cat{
    width: 200px;
    border-radius: 50%;
    
}

#404{
    width: 80%;
}
.tooltip {
    position: relative;
    display: none;
    border-bottom: 1px dotted darksalmon;
    cursor: pointer;
  }
  

  .tooltiptext {
    display: inline-block; 
    width: 130px;
    background-color: whitesmoke;
    color:#0a080f ;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; 
  }
  #cat:hover+ .tooltip{
    display: inline-block;
}
.Img_container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}