h1{
    color: darksalmon;
}
@font-face {
    font-family: comicMono;
    src: url(ComicMono.ttf);
}
img{
    width: 200px;
    border-radius: 50%;
}
body{
    font-family: comicMono;
    background-color: #0a080f;
    text-align: center;
    color: whitesmoke;
}
#cat:hover{
    border-radius: 0%;
    
}
#404{
    width: 80%;
    
}